@media (max-width:1920px)
{

    html, body{
        margin:0;
        height:100vh;
    }
    body{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    table{
        width:80%;
        border-collapse: collapse;
    }
     td{
        border-bottom:1px solid black;
    }    

    h1{
        font-size:1.5em;
    }
    tbody{
        font-size: 1em;
    }
    thead{
        font-size: 1em;
        background-color: bisque;

    }

    tr:first-child{
        display: table-row;
    }
     tr:last-child{
        display: none;
     }

    .stat{
        display: tabel-cell;
        transition: 1s;
    }




    
}

@media (max-width:1000px)
{

    html, body{
        margin:0;
        height:100vh;
    }
    body{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    table{
        width:80%;
        border-collapse: collapse;
    }
     td{
        border-bottom:1px solid black;
    }    

    h1{
        font-size:1.5em;
    }
    tbody{
        font-size: 1em;
    }
    thead{
        font-size: 1em;
        background-color: brown;

    }

    tr:first-child{
        display: none;
    }
     tr:last-child{
        display: table-row;
     }

    .stat{
        display: tabel-cell;
        transition: 1s;
    }




    
}

@media (max-width:500px)
{

    html, body{
        margin:0;
        height:100vh;
    }
    body{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    table{
        width:80%;
        border-collapse: collapse;
    }
     td{
        border-bottom:1px solid black;
    }    

    h1{
        font-size:2em;
    }
    tbody{
        font-size: 1.25em;
    }

    tr:last-child{
        display: none;
    }
     tr:last-child{
        display: table-row;
     }

    .stat{
        display: none;
    }
    thead{
        background-color: blue;

    }
}