@charset "UTF-8";

.hide{
    display:none;
}

h2{
    font-size:12px;
}
body{
    background-color:rgb(9, 190, 115);
}
#nav{
    border-bottom: 3px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
}
#footer{
    border-bottom: 3px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
}
#main{
    border-bottom: 3px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
}
#p{
    border-bottom: 3px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
}
a:link{
    color:blue;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:aquamarine;
}
.pics{
    max-height: 500px;
}